<%- include("header"); -%>

<div class="main__content">
  <div class="main__detail-container">
    <div class="main__detail-title">
      <h2 class="main__detail-title-p"><%= article.title %></h2>
      <p class="main__detail-author">by <%= article.author %></p>
      <p class="main__detail-date">
        <%= article.createdAt.toLocaleDateString() %>
      </p>
    </div>
    <div class="main__detail-content">
      <p><%= article.content %></p>
    </div>
    <div class="main__detail-category">
      <p><%= article.category %></p>
    </div>
  </div>
</div>

<%- include("footer"); -%>
