<%- include("header"); -%> <%- include("sidebar"); -%>

<div class="main__content">
  <div class="main__content-container">
    <p><%= article.title %></p>
    <div><%= article.content %></div>
    <p><%= article.author %></p>
    <p><%= article.category %></p>
  </div>
</div>

<%- include("footer"); -%>
